
---
import Layout from "@layouts/layout.astro";
import { ArrowLeft } from "lucide-astro";
---

<Layout page="Blog">
	<main class="w-full h-[calc(100vh-96px)] flex flex-col gap-2 items-center justify-center">
	  <h1 class="text-white text-2xl font-bold">Work in progress...</h1>
	  <a href="/" class="flex flec-row gap-1 items-center text-text text-lg"><ArrowLeft /> Back to Home</a>
	</main>
</Layout>

