
---
import Layout from "../../layouts/Layout.astro";
---

<Layout page="Blog">
	<main class="w-full h-screen flex items-center justify-center">
	  <h1 class="text-white text-2xl font-bold">Work in progress...</h1>
	</main>
</Layout>

