---
import Layout from "../layouts/Layout.astro";

import { Github, Gitlab, Linkedin, Instagram } from "lucide-astro";

import { Image } from "astro:assets";
import photoImage from "../assets/photo.jpg";
---

<Layout page="Home">
	<main class="w-full flex flex-col gap-16">
		<header class="flex flex-row gap-12 items-center">
			<Image src={photoImage} alt="Vinicius G." class="rounded-2xl" />
			<div class="flex flex-col gap-6">
				<h1 class="text-white font-bold text-4xl">Hi, I’m Vinicius! 👋</h1>
				<p class="text-text text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis erat felis. In non condimentum sapien, non scelerisque elit. Phasellus accumsan commodo odio, ac volutpat ex vestibulum efficitur. Duis libero justo, viverra non sagittis in, varius in ligula. Donec luctus gravida diam, at tempus erat elementum ut.</p>
				<div class="flex flex-row justify-between">
					<div class="flex flex-row gap-4">
						<a target="_blank" rel="noopener noreferrer" href="https://github.com/vinisilvag">
							<Github class="w-6 h-6 text-text hover:text-white"/>
						</a>
						<a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/vinisilvag">
							<Gitlab class="w-6 h-6 text-text hover:text-white"/>
						</a>
						<a target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/vinisilvag">
							<Linkedin class="w-6 h-6 text-text hover:text-white"/>
						</a>
						<a target="_blank" rel="noopener noreferrer" href="https://instagram.com/vinisilvag">
							<Instagram class="w-6 h-6 text-text hover:text-white"/>
						</a>
					</div>

					<div class="flex flex-row gap-4">
						<a href="/blog/" class="text-text hover:text-white uppercase">Blog</a>
						<a href="/blog/" class="text-text hover:text-white uppercase">CV</a>
					</div>
				</div>
			</div>
		</header>

		<section>
			<h2 class="text-white font-bold text-2xl mb-4">Education</h2>
		</section>
		
		<section>
			<h2 class="text-white font-bold text-2xl mb-4">Research</h2>
		</section>
		
		<section>
			<h2 class="text-white font-bold text-2xl mb-4">Projects and contributions</h2>
		</section>
		
		<section>
			<h2 class="text-white font-bold text-2xl mb-4">Work experience</h2>
		</section>

		<footer class="w-full text-center">
			<span class="text-text">Copyright © 2024. Made with 🤍 by Vinicius Gomes.</span>
		</footer>
	</main>
</Layout>

