---
import { Github, Gitlab, Linkedin, Instagram } from "lucide-astro";

import { Image } from "astro:assets";
import avatarImage from "@assets/avatar.jpg";
---

<header class="flex flex-col md:flex-row gap-12 items-center">
	<Image src={avatarImage} alt="Vinicius G." class="w-60 h-60 rounded-2xl"  />
	<div class="flex flex-col gap-6">
		<h1 class="text-white font-bold text-3xl text-center md:text-left">Hi, I’m Vinicius! 👋</h1>
		<p class="text-text text-md text-center md:text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		Integer quis erat felis. In non condimentum sapien, non scelerisque elit. Phasellus 
		accumsan commodo odio, ac volutpat ex vestibulum efficitur. Duis libero justo, viverra non 
		sagittis in, varius in ligula. Donec luctus gravida diam, at tempus erat elementum ut.</p>
		<div class="flex flex-row justify-between">
			<div class="flex flex-row gap-4">
				<a target="_blank" rel="noopener noreferrer" href="https://github.com/vinisilvag">
					<Github class="w-6 h-6 text-text hover:text-white"/>
				</a>
				<a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/vinisilvag">
					<Gitlab class="w-6 h-6 text-text hover:text-white"/>
				</a>
				<a target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/vinisilvag">
					<Linkedin class="w-6 h-6 text-text hover:text-white"/>
				</a>
				<a target="_blank" rel="noopener noreferrer" href="https://instagram.com/vinisilvag">
					<Instagram class="w-6 h-6 text-text hover:text-white"/>
				</a>
			</div>

			<div class="flex flex-row gap-4">
				<a href="/blog" class="text-text hover:text-white uppercase">Blog</a>
				<a href="/blog" class="text-text hover:text-white uppercase">CV</a>
			</div>
		</div>
	</div>
</header>
