---
interface Props {
	page: string;
}

const { page } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		<title>{page} | Vinicius G.</title>
	</head>
	<body>
		<div class="w-full max-w-screen-lg mx-auto py-12">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	body {
		background-color: theme("colors.background");
	}
</style>
